---
interface Props {
	newsDescription: string;
	newsLink: string;
}

const { newsDescription, newsLink } = Astro.props;
---

<section id="news" class="flex items-center mx-auto mt-10 justify-center">
	<span class="rounded-full p-1 bg-teal-900 px-2 text-xs text-teal-300 mx-5"
		>New</span
	>
	<p class="inline-block" set:html={newsDescription} />
	<a href={newsLink} class="btn-round py-[2px] px-4"
		>Visit
		<span class="underline"
			>vercel.com<span>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="16"
					height="16"
					viewBox="0 0 24 24"
					fill="none"
					stroke="currentColor"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round"
					class="lucide lucide-chevron-right inline"
					><path d="m9 18 6-6-6-6"></path></svg
				>
			</span>
		</span>

		<style></style>
	</a>
</section>
